<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-neweat="{{devoured}}">
        {{#if devoured}}NOT DEVOURED!{{else}}DEVOUR!{{/if}}
    </button>

    {{!-- <button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button> --}}
</li>